*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
}
body{
    background: #eee;
}
.big-card{
    width: 38%;
    display: flex;
    height: 90%;
    margin: 15% 30%;
    background: #fff;
    border-radius:30px ;
}
.left-card{
    background:  hsl(241, 81%, 54%) ;
    color: #fff;
    border-radius: 30px;
    width: 50%;
    text-align: center;
   
}
.left-card h1{
    padding-top:5%;
    font-size: 20px;
}
.score{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
    margin: 5% 25%;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    
    
}
.actual-scores{
    margin: 10%;
   padding: 20%;
}
.score h1{
    font-weight: bold;
    font-size: 40px;
}
.score p{
    font-size: 18px;
}
.remarks h1{
    margin-bottom: 7%;
    font-weight: bold;
    font-size: 25px;
}
.remarks p{
    margin: 10%;
    line-height: 25px;
}
.right-card{
    border-radius: 10px;
    width: 50%;
    background: hsl(0, 0%, 100%);
}
.right-card h2{
    margin: 5%;
}
.inner-card{
    text-align: center;    
}
.details{
    margin: 2% 5%;
}
.reaction{
    display: flex;
    justify-content: space-between;
    background: #ecdada;
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}
.reaction span{
    color:  hsl(0, 100%, 67%);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 2%;    
}
.reaction span p{
    font-weight: 500;
    margin: 0 5px ;
    font-size: 18px;
}

.memory{
    display: flex;
    justify-content: space-between;
    background: #faf9e6;
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}
.memory span{
    color: hsl(39, 100%, 56%);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 2%;    
}
.memory span p{
    font-weight: 500;
    margin: 0 5px ;
    font-size: 18px;
}
.verbal{
    display: flex;
    justify-content: space-between;
    background: hsl(157, 28%, 91%);
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}
.verbal span{
    color: hsl(166, 100%, 37%);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 2%;    
}
.verbal span p{
    font-weight: 500;
    margin: 0 5px ;
    font-size: 18px;
}

.visual{
    display: flex;
    justify-content: space-between;
    background:  hsl(221, 100%, 96%);
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}
.visual span{
    color: hsl(234, 85%, 45%);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 2%;    
}
.visual span p{
    font-weight: 500;
    margin: 0 5px ;
    font-size: 18px;
}
.score-small{
    display: flex;
}
.score-small h1{
    color: #000;
    font-weight: 500;  
}
.score-small p{
    color: gray;
    font-size: 18px;
    margin: 0 5px;
}
button{
    background: hsl(241, 81%, 54%);
    color: #fff;
    margin:  10%;
    padding: 3%;
    width: 70%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .big-card{
        width: 100%;
        display: block;
        height: 90%;
    }
    .left-card{
        width: 100%;
    }
    .score{
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)) ;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        text-align: center;
        align-items: center;
        
    }
    .right-card{
        border-radius: 10px;
        width: 100%;
    }
    .details{
        margin: 0 10%;
    }
  }